body {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
body.img01{
    background-image: url(../img/mouseEffect01-min.jpg);
}
body.img02{
    background-image: url(../img/mouseEffect02-min.jpg);
}
body.img03{
    background-image: url(../img/mouseEffect03-min.jpg);
}
body.img04{
    background-image: url(../img/mouseEffect04-min.jpg);
}
body.img05{
    background-image: url(../img/mouseEffect05-min.jpg);
}
body.img06{
    background-image: url(../img/mouseEffect06-min.jpg);
}
body.img07{
    background-image: url(../img/mouseEffect07-min.jpg);
}
body.img08{
    background-image: url(../img/mouseEffect08-min.jpg);
}
body.img09{
    background-image: url(../img/mouseEffect09-min.jpg);
}
body.img10{
    background-image: url(../img/mouseEffect10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
body.bg01::after {
    background-color: rgba(97, 86, 34, 0.692);
}
body.bg02::after {
    background-color: rgba(34, 35, 97, 0.692);
}
body.bg03::after {
    background-color: rgba(226, 121, 117, 0.692);
}
body.bg04::after {
    background-color: rgba(41, 184, 129, 0.692);
}
body.bg05::after {
    background-color: rgba(139, 41, 184, 0.692);
}
body.bg06::after {
    background-color: rgba(184, 41, 125, 0.692);
}
body.bg07::after {
    background-color: rgba(41, 155, 184, 0.692);
}
body.bg08::after {
    background-color: rgba(41, 184, 41, 0.692);
}
body.bg09::after {
    background-color: rgba(184, 170, 41, 0.692);
}
body.bg10::after {
    background-color: rgba(184, 41, 41, 0.692);
}
.Jamsil{
    font-family: "TheJamsil";
}
.cafe24{
    font-family: "Cafe24ClassicType";
}
.BMJua{
    font-family: "BMJua";
}
.PyeongChang{
    font-family: "PyeongChang";
}
.MabinogiClassic{
    font-family: "MabinogiClassic";
}
.BMDoHyeon{
    font-family: "BMDoHyeon";
}
.JalpullineunOneul{
    font-family: "JalpullineunOneul";
}
.JalpullineunHaru{
    font-family: "JalpullineunHaru";
}
.BaskinRobbins{
    font-family: "BaskinRobbins";
}
.ROKA{
    font-family: "ROKA";
}

