<script>
//1. 1~50 (for문)
{
for ( let i=1; i<=50; i++){
  document.write(i);
}
}
document.write ("<br>")
//2. 1~100 홀수(빨), 짝(파)  ==> 한미
{
  for (let i = 1; i <= 100; i++) {
    if ( i % 2 == 0) {
      document.write("<span style='color : blue'>" + i + "</span> ");
      } else if (i % 1 == 0) {
        document.write("<span style='color : red'>" + i + "</span> ");
      }
  }
}
//3. 테이블 가로 10칸, 세로 5칸  ==> 인찬
{
    let table = "<table border='1'>";
    for(let i=1; i<=10; i++){
    table += "<tr>";
    for(let j=1; j<=5; j++){
        table += "<td>"+ j +"</td>";
    }
    table += "</tr>";
}
table += "</table>";
document.write(table);
}
//4. 16단만 구구단

{
    for(let i=16; i<=16; i++) {
        document.write(i + "단","<br>")

    for(let j=1; j<=9; j++) {
        document.write(i + "*" + j + "=" + i*j,"<br>")
        }
    }
}

//5. 1~10까지 합(for)
{
    let table = "<table border='1'>";
    for(let i=1; i<=10; i++){
    table += "<tr>";
    for(let j=1; j<=5; j++){
        table += "<td>"+ j +"</td>";
    }
    table += "</tr>";
}
table += "</table>";
document.write(table);
}
{
  let sum = 0;
  for (let i = 1; i <= 10; i++) {
    sum += i;
  }
  document.write(sum);
}
//6. 함수 8가지 (화살표 포함) ==> 유나

{
  function func(){
    document.write("실행됐음");
  }
  func();
}
document.write("<br>");
//선언 화살표
{
  func = () => {
     document.write("실행됐음");
  }
  func();
}
document.write("<br>");
//리턴
{
  function func() {
    const str = "실행됐음"
    return str;
  }
  document.write(func());
}
document.write("<br>");
//리턴 화살표
{
  func = () => {
    const str = "실행됐음"
    return str;
  }
  document.write(func());
}
document.write("<br>");
//익명
{
  const func = function(){
    document.write("실행됐음");
  }
  func();
}
document.write("<br>");
//익명 화살표
{
  const func = () => {
    document.write("실행됐음");
  }
  func();
}
document.write("<br>");
//매개
{
  function func(str){
    document.write(str);
  }
  func("실행됐음");
}
document.write("<br>");
//매개 화살표
{
  func = (str) => {
    document.write(str);
  }
  func("실행됐음");
}
document.write("<br>");
</script>