@import url('https://webfontworld.github.io/neodgm/NeoDunggeunmo.css');
@import url('https://webfontworld.github.io/earlyfont/EF_Hyunygothic.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
body {
    background:
      radial-gradient(rgb(0, 0, 0) 3px, transparent 4px),
      radial-gradient(rgb(138, 138, 138) 3px, transparent 4px),
      linear-gradient(#f0f0f0 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #db0909 75px, #1500ff 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #ff0000 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
      #fff;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }