* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
    vertical-align: top;
}
#wrap{
    width: 1000px;
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 1000;
    margin-bottom: 15px;
}
#header h1 img {
    width: 150px;
}
#header nav li {
    display: inline-block;
    letter-spacing: normal;
}
#header nav li a {
    display: inline-block;
    padding: 20px;
}
#banner {}
#notice {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}
#notice .not1 {
    width: 49%;
    padding: 30px;
    position: relative;
    box-sizing:border-box;
    background-color: #f1f1f1;
    
}
#notice .not1 h3 {
    margin-bottom: 10px;
}
#notice .not1 li {
    list-style: none;
    display: flex;
    padding: 5px 0;
}
#notice .not1 li a {
    width: 70%;
}
#notice .not1 li span {
    width: 30%;
    text-align: right;
}
#notice .not1 .more {
    position: absolute;
    right: 460px;
    top: 100px;
}
#notice .not1 .more::after{
    width: 21px;
    height: 20px;
    content: '';
    background-image: url(../img/icon1.jpg);
    position: absolute;
    background-size: cover;
}
#notice .not1 .moretext {
    position: absolute;
    right: 360px;
    top: 100px;
}
#notice .not1 .moretext::after{
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    background-size: cover;
}
#notice .not1 .bg1 {
    position: absolute;
    right: 110px;
    top: 40px;
}
#notice .not1 .bg1::after{
    width: 70px;
    height: 60px;
    content: '';
    background-image: url(../img/bg1.jpg);
    position: absolute;
    background-size: cover;
}
#notice .not2 {
    width: 49%;
    padding: 30px;
    position: relative;
    box-sizing:border-box;
    background-color: #f1f1f1;
}
#notice .not2 h3 {
    margin-bottom: 10px;
}
#notice .not2 .more2 {
    position: absolute;
    right: 460px;
    top: 100px;
}
#notice .not2 .more2::after{
    width: 21px;
    height: 20px;
    content: '';
    background-image: url(../img/icon2.jpg);
    position: absolute;
    background-size: cover;
}
#notice .not2 .moretext2 {
    position: absolute;
    right: 373px;
    top: 100px;
}
#notice .not2 .moretext2::after{
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    background-size: cover;
}
#notice .not2 .moretext3 {
    position: absolute;
    right: 330px;
    top: 105px;
    font-size: 5px;
}
#notice .not2 .moretext3::after{
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    background-size: cover;
}
#notice .not2 .bg2 {
    position: absolute;
    right: 110px;
    top: 40px;
}
#notice .not2 .bg2::after{
    width: 70px;
    height: 60px;
    content: '';
    background-image: url(../img/bg2.jpg);
    position: absolute;
    background-size: cover;
}

#card {
    margin-top: 40px;
}
#card h2 {
    margin: 20px 0 10px;
}
.card-inner {
    display: flex;
    justify-content: space-between;
}
.card-inner > div {
    width: 31%;
}
.card-inner > div strong {
    padding: 10px 0;
    display: inline-block;
    color: #444;
}
#footer {
    background-color: #000;
    margin-top: 50px;
    padding: 50px 0;
    color: #666;
    padding-left: 30%;
    padding-top: -30px;
    position: relative;
}
#footer .more3 {
    position: absolute;
    right: 940px;
    top: 30px;
}
#footer .more3::after {
    width: 150px;
    height: 50px;
    content: '';
    background-image: url(../img/flogo.jpg);
    position: absolute;
    background-size: cover;
}
#footer address {
    font-style: normal;
    font-size: 15px;
    text-align: left;
    line-height: 30px;
}
#footer strong {
    display: block;
    color: #fff;
    padding-left: 10%;
    padding-top: -30px;
    text-align: center;
    word-spacing: 20px;
}

.slider__wrap {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__img {
    position: relative;
    width: 1000px;
    height: 400px;
    overflow: hidden;
}
.slider__inner {
    flex-wrap: wrap;
    width: 4000px;
    height: 400px;
}
.slider { 
    position: relative;
    width: 1000px;
    height: 400px;
}